/* html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px; font-style: normal; 
    font-variant: normal;
    font-weight: 600;
    line-height: 26.4px;
} */

/* nav {
      margin-top: 0px;
      padding: 0px;
      overflow: hidden;
      background-color: #333;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: block;
      
}

.container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
} */

/* Color Palette
# - color 1
# - color 2
# - color 3
# - color 4
*/

/* Color palette
$color1: rgba(10, 9, 8, 1);
$color2: rgba(34, 51, 59, 1);
$color3: rgba(242, 244, 243, 1);
$color4: rgba(169, 146, 125, 1);
$color5: rgba(94, 80, 63, 1);
*/

/* Global styles 
------------------------------------*/

/* Open Sans font src */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background: #ffffff;
    font-family: 'Open Sans';
    margin: 0;
  }
  
  .content-wrap {
    max-width: 950px; 
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
  }
  
  h2 {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  

  .column-narrow {
    width: 30%; 
    float: left; 
    /* min-height: 175px; */
    font-weight: 200;
  }
  
  .column-wide {
    width: 70%; 
    float: left; 
    /* min-height: 225px; */
    font-weight: 200;
  }
  
  /* Navigation Menu
  -------------------------------------*/
  nav {
  /*   list-style-type: none; */
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: block;
    font-family: "Open Sans", serif;
    font-weight: 200;
  }
  
  nav a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
  }


  /* Used Animista for CSS Animation. MUST be  */
  /* a {
    display:block;
  } */

  
  /* Change the link color to #111 (black) on hover */
  nav > a:hover {
    background-color: rgb(22, 22, 22);
  }
  
  /* Header & Footer 
  ------------------------------------*/
  footer {
    /* justify-content: center; */
    text-align: center;
    background-color: rgb(227, 229, 230);
  }
  
  header {
    /* background-image: url("https://cdn.glitch.com/ed6bd883-6ad8-436c-8874-36098ecf5544%2Fbackground.jpg?v=1571632772640"); */
    /* background-image: linear-gradient(rgba(216, 107, 79, 0.3), rgba(134, 158, 189, 0.5)), url("background-stars.jpg"); */
    background: url("background-stars.jpg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 400;
  }
  
  .contact-info a {
    padding: 3%;
    font-size: 400%;
    text-decoration: none;
    color: black;
    display: inline-block;
  }

  .contact-info p {
    margin-top:6%;
    margin-bottom:0;
    color:gray;
    font-size: 70%;
  }
  
  .profile-img {
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.15);
  }
  
  
  /* Work Experience
  ------------------------------------*/
  #work {
    /* background: rgba(169, 146, 125, .05); */
    /* background: #243a49; */
    /* background: rgb(230, 233, 236); */
    background: rgb(67,66,66);
  }
  
  .work-experience {
    color: rgba(255, 255, 255, 0.6);
  }

  .relevant-courses {
    color: #DFE9E9;
  }
  
  
  /* Education
  ------------------------------------*/
  #education {
    background: #5C4742;
    color: white;
    /* background: linear-gradient(rgba(70,130,180, 0.3), rgba(70,130,180, 0.5)), url("https://cdn.glitch.com/ed6bd883-6ad8-436c-8874-36098ecf5544%2Fbackground.jpg?v=1571632772640"); */
    background: linear-gradient(rgba(70,130,180, 0.3), rgba(70,130,180, 0.5)), url("background-stars.jpg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', serif;
  }



  .intro{
    padding-left: 3%;
  }
  
  .intro2 {
    font-weight: 500;
  }


  /* Animista for CSS animation  */
  /* ----------------------------------------------
 * Generated by Animista on 2021-1-18 14:3:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.pulsate-fwd:hover{-webkit-animation:pulsate-fwd .5s ease-in-out infinite both;animation:pulsate-fwd .5s ease-in-out infinite both}

 @-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}

